/* ================================================= */
/* ------------------ General CSS ------------------ */
/* ================================================= */
body {
    color: #575757;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #fff;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', serif;
    font-weight: 700;
    color: #333;
    margin: 0;
    padding: 0;
}


/* ================================================= */
/* ------------------ Header CSS ------------------- */
/* ================================================= */

#header {

    padding: 20px 60px;

}

/* ================================================= */
/* ------------------ Container CSS ------------------- */
/* ================================================= */
.container{
    padding: 0;
    max-width: 1320px;
    margin: auto;
}

/* ================================================= */
/* ------------------ Nav menu CSS ------------------- */
/* ================================================= */

#nav-menu-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 18px;
    color: #575757;
}

.primary-button{
font-size: 16px;
color: #ffffff;
background-color: #1D4ED8;
border: none;
border-radius: 12px;
padding: 12px 25px;
font-weight: bold;

 }

 /* ================================================= */
/* ------------------ Hero Section CSS ------------------- */
/* ================================================= */

#hero{
  max-height: 100vh;
    padding: 80px 60px;
         background:
        linear-gradient(
            180deg,
            rgba(0,0,0,0.30) 30%,
            rgba(0,0,0,0.70) 60%
        ),
        linear-gradient(
            180deg,
            rgba(0,0,0,0.00) 42%,
            rgba(0,0,0,0.88) 87%
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-repeat: no-repeat;
   
}
h1{
    font-size: 80px;
    color: #ffffff;
    line height: -3.2px;
}
.hero-content{
    width: 75%;
    margin: 0 auto;
    display; flex;
    text-align: center;
    align-items: center;
    padding: 200px 0;
}
.hero-content p{
    color: #f7f7f7;
    padding: 10px 30px;
    font-size: 22px;
}
 .hero-content .primary-button{
    padding: 25px 60px;
    font-size: 24px;
 }

 /* ================================================= */
/* ------------------ Speaker Section CSS ------------------- */
/* ================================================= */

#speaker{
    padding: 80px 60px;
}
h2{
    font-size: 56px;
    font-weight: bold;
    color: #000102;

}
.top-content{
    margin-bottom: 56px; 
    text-align: center;
}

.speaker-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}
.speaker-card{

    border-radius:16px;

    overflow:hidden;

    background:white;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}
.spearker-info{
    padding:24px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.spearker-info span{
    font-size: 12px;
    color: #1D4ED8;
}
.spearker-info h3{
    font-size: 20px;
    color: #0D1B2A;
}
.spearker-info p{
    font-size: 14px;
    color: #575757;

}