/* ================================================= */
/* ------------------ General CSS ------------------ */
/* ================================================= */
body {
    color: #575757;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #fff;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', serif;
    font-weight: 700;
    color: #333;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/* ================================================= */
/* ------------------ Header CSS ------------------- */
/* ================================================= */

#header {

    padding: 20px 60px;

}

/* ================================================= */
/* ------------------ Container CSS ------------------- */
/* ================================================= */
.container{
    padding: 0;
    max-width: 1320px;
    margin: auto;
}

/* ================================================= */
/* ------------------ Nav menu CSS ------------------- */
/* ================================================= */

#nav-menu-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 18px;
    color: #575757;
}

.primary-button{
font-size: 16px;
color: #ffffff;
background-color: #1D4ED8;
border: none;
border-radius: 12px;
padding: 12px 25px;
font-weight: bold;

 }

 /* ================================================= */
/* ------------------ Hero Section CSS ------------------- */
/* ================================================= */

#hero{

    padding: 80px 60px;
         background:
        linear-gradient(
            180deg,
            rgba(0,0,0,0.30) 30%,
            rgba(0,0,0,0.70) 60%
        ),
        linear-gradient(
            180deg,
            rgba(0,0,0,0.00) 42%,
            rgba(0,0,0,0.88) 87%
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-repeat: no-repeat;
   
}
h1{
    font-size: 80px;
    color: #ffffff;
    line height: -3.2px;
}
.hero-content{
    padding-top: 60px;
    margin-bottom: 350px;
    display; flex;
    text-align: center;
    align-items: center;
    
    
}
.hero-content p{
    max-width: 800px;
    margin: 20px auto;
    color: #f7f7f7;
    
    font-size: 22px;
}

 .bottom-content .primary-button{
    padding: 25px 60px;
    font-size: 24px;
    display: flex;
    margin: 0 auto;
 }

 /* ================================================= */
/* ------------------ Speaker Section CSS ------------------- */
/* ================================================= */

#speaker{
    padding: 80px 60px;
}
h2{
    font-size: 56px;
    font-weight: bold;
    color: #000102;

}
.section-header{
    margin-bottom: 56px; 
    text-align: center;
}

.speaker-grid{

    display: grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}
.speaker-card{

    border-radius:16px;

    overflow:hidden;

    background:white;
    border: 1px solid #E5E7EB;
    box-shadow:0 10px 30px rgba(0,0,0,.08);

}
.spearker-info{
    padding:24px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.spearker-info span{
    font-size: 12px;
    color: #1D4ED8;
}
.spearker-info h3{
    font-size: 20px;
    color: #0D1B2A;
}
.spearker-info p{
    font-size: 14px;
    color: #575757;

}


 /* ================================================= */
/* ------------------ Pricing Section CSS ------------------- */
/* ================================================= */
#price{
    padding: 80px 60px;
}

.section-header p{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}
.pricing-grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 24px;
}

.pricing-card{
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}
.secondary-button{
    width: 100%;
    border: 1px solid #1D4ED8;
    padding: 12px 0;
    border-radius: 8px;
    background-color: #ffffff;
}
.pricing-card h2{
    font-size: 44px;
}
.pricing-card h4{
    font-size: 13px;
    
}
.pricing-card p{
    font-size: 13px;
    font-weight: 400;
}